RewriteEngine On    # Turn on the rewriting engine
RewriteRule ^login$ api.php [NC,L]
RewriteRule ^getstudent/([0-9_-]*)$ api.php?id=$1 [NC,L]
RewriteRule ^register$ api.php [NC,L]
RewriteRule ^deleteUser$ api.php [NC,L]
RewriteRule ^deleteTask$ api.php [NC,L]